.git
.github
.claude
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.*
!.env.example
docker-compose.yml
requirement.html
